/*
 * @Author: gq
 * @Date: 2022-12-30 19:29:58
 * @LastEditors: gq
 * @LastEditTime: 2023-01-05 21:44:17
 * @Description: file content
 */
.el-select {
    width: 160px !important;

    .el-input {
        input {
            text-align: left !important;
            font-size: 16px !important;
            color: #FFFFFF !important;
            font-weight: 500 !important;

            &::placeholder {
                color: #757B8C !important;
                font-weight: 400 !important;
            }
        }
    }

    .el-input__suffix-inner {
        display: inline-block;
    }

    .el-input__inner {
        height: 42px;
        background: #1E1F25;
        border: 1px solid rgba(60, 66, 84, 1);
        border-radius: 8px;
    }

    .el-select__caret {
        margin-top: 4px;
    }
}

.table-box {
    background: #1E1F25;
    margin-top: 6px;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
}

.el-table {
    background: #1E1F25 !important;

    th {
        background: #1E1F25 !important;
        height: 54px;
        color: #fff;
    }

    .el-table__row {
        height: 60px;
        background: #1E1F25 !important;
    }
}



.el-table--enable-row-transition .el-table__body td.el-table__cell {
    border-color: rgba(40, 44, 56, 1);
}

.el-table td.el-table__cell,
.el-table th.el-table__cell.is-leaf {
    border-color: rgba(40, 44, 56, 1);
}


.el-table--enable-row-hover .el-table__body tr:hover>td {
    background-color: #1b1b19 !important;
    /* color: #f19944; */
    /* 设置文字颜色，可以选择不设置 */
}